body {
    max-width: 936px;
    display: flex;
    margin: auto;
    flex-flow: row wrap;
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 36px;
    margin-bottom: 120px;
    font-size: 16px;
    line-height: 1.5em;
    padding: 0 12px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    line-height: 1.5em;
}

h2 {
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    line-height: 1.5em;
}

h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5em;
    text-align: left;
}

h4 {
    font-size: 24px;
    text-align: left;
    font-weight: 400;
    line-height: 1.5em;
}

p {
    font-size: 16px;
    line-height: 1.5em;
}

ul {
    padding: 0;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex-basis: 100%;
}

#logo-container {
    flex-basis: 50%;
    text-align: left;
}

#navigation {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    margin-left: 24px;
}

#hero-container {
    flex-basis: 100%;
    margin-top: 60px;
    margin-bottom: 72px;
}

#hero-message {
    max-width: 70%;
    margin: auto;
}

#profile-picture {
    height: 180px;
    width: 180px;
    background: #ebebeb;
    border-radius: 100%;
    margin: auto;
}

.tag-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.tag-link {
    flex: 0 0 auto;
    margin-right: 12px;
    padding: 10px;
    border: 1px solid #222;
}

.tag-link:last-of-type {
    margin-right: 0;
}

#home-articles-container {
    max-width: 100%;
}

.article-preview-container {
    margin-top: 24px;
    display: flex;
    flex-flow: row no-wrap;
}

.article-preview-content {
    margin-left: 18px;
    align-self: center;
    flex-basis: 66%;
}

.article-preview-image {
    flex-basis: 34%;
}

.article-preview-title, .article-preview-summary {
    margin: 0;
}

.article-preview-summary {
    margin-top: 12px;
}

.all-articles-button-container {
    margin-top: 36px;
}

.all-articles-button {
    padding: 12px 18px;
    border: 1px solid #222;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.all-articles-button-icon {
    height: 18px;
    width: auto;
    padding-left: 12px;
}

.all-articles-button-text {
    font-size: 18px;
    margin-top: 6px;
}

.footer-title {
    text-align: center;
}

footer {
    flex-basis: 100%;
    margin-top: 84px;
}

.footer-email {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5em;
    text-align: center;
}

.footer-social-list {
    list-style-type: none;
    margin: auto;
    text-align: center;
    font-size: 18px;
}

.footer-social-items {
    display: inline-block;
    margin: 0 12px;
}

.footer-social-links {
    padding: 0 6px;
}

.one-line {
    display: inline-block;
}

/* Home page media queries */

@media (max-width: 600px) {
    body {
        margin-top: 12px;
    }

    header {
        flex-flow: column;
    }

    #navigation {
        justify-content: center;
        margin-top: 24px;
    }

    #logo-container {
        text-align: center;
    }

    .nav-link {
        padding: 0 6px;
        margin-left: 12px;
        margin-right: 12px;
    }

    #hero-container {
        margin-top: 36px;
        margin-bottom: 36px;
    }

    #hero-message {
        max-width: 100%;
    }

    #profile-picture {
        height: 120px;
        width: 120px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 18px;
    }

    .article-preview-container {
        flex-flow: row wrap;
        margin-bottom: 48px;
    }

    .article-preview-content {
        flex-basis: 100%;
        margin-left: 0;
        margin-top: 18px;
    }

    .article-preview-image {
        flex-basis: 100%;
    }

    .all-articles-button {
        margin: auto;
    }

    footer {
        margin-top: 48px;
    }

    .footer-email {
        font-size: 20px;
    }

    .footer-social-items {
        display: inline-block;
        margin: 12px;
    }

    .footer-social-links {
        padding: 0 2px;
    }
}