body {
    max-width: 936px;
    display: flex;
    margin: auto;
    flex-flow: row wrap;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 120px;
    font-size: 18px;
    line-height: 1.5em;
    color: #333;
    background: #fcfcfc;
}

a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    /* -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; */
}

h1 {
    font-size: 42px;
    font-weight: 700;
    text-align: left;
    line-height: 1.5em;
    flex-basis: 100%;
    color: #333;
}

h2 {
    font-size: 30px;
    text-align: left;
    font-weight: 400;
    line-height: 1.5em;
    margin-top: 48px;
    margin-bottom: 12px;
}

h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5em;
    text-align: left;
    margin-top: 36px;
    margin-bottom: 12px;
}

h4 {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5em;
    text-align: left;
    margin-top: 36px;
    margin-bottom: 12px;
}

h5 {
    font-weight: 700;
    font-size: 1.1em;
    line-height: 1.5em;
    text-align: left;
    margin: 1.5em 0 0.5em 0;
}

h6 {
    font-size: 1em;
    font-weight: 700;
    margin: 1.5em 0 1em 0;
    text-align: left;
}

p {
    font-size: 18px;
    line-height: 1.5em;
    margin: 0.8em 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
}

ul, ol {
    padding: 0;
}

li {
    font-size: 18px;
}

.large-text {
    font-size: 21px;
}

.page-top-section {
    flex-basis: 936px;
    max-width: 96%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 36px;
    display: flex;
    flex-wrap: wrap;
}

.index-bg {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 80vh;
    width: 100%;
    z-index: -9999;
    overflow: hidden;
    max-width: 100%;
}

.index-bg-image {
    width: 100%;
    height: auto;
}

.page-intro-content {
    flex-basis: 936px;
    max-width: 96%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 36px;
    display: flex;
    flex-wrap: wrap;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex-basis: 100%;
    max-width: 100%;
    margin: auto;
    /* background: #f8cecf; */
}

#hero-message h2 {
    margin-top: 0;
}

@media(max-width:700px){
    #page-top-container{
        margin-bottom: 12px;
    }

    .index-bg-image {
        height: 80vh;
        width: auto;
    }
}

@media(max-width: 500px) {
    .page-intro-content {
        margin-top: 24px;
    }
}

#logo-container {
    flex-basis: 50%;
    text-align: left;
}

#logo-image {
    height: 30px;
    width: auto;
}

#navigation {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    margin-left: 24px;
    font-weight: 700;
    letter-spacing: 0.8px;
    color: #222;
    display: inline-block;
    position: relative;
}

.nav-link:after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #333;
    bottom: 12px;
    transition: all 0.2s ease-in;
}

.nav-link:hover:after {
    width: 100%;
}

#index-hero {
    flex-basis: 936px;
    max-width: 96%;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
}

#profile-picture-container {
    width: 100%;
    height: auto;
    position: relative;
    flex-basis: 35%;
}

#profile-picture {
    height: 250px;
    width: 250px;
}

#profile-bg {
    position: absolute;
    top: -150px;
    right: 0px;
    height: 500px;
    z-index: -99;
}

.tag-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.tag-link {
    flex: 0 0 auto;
    margin-right: 12px;
    padding: 12px 10px 10px 10px;
    border: 1px solid rgb(200, 180, 241);
    color: #6e599d;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: 0.3px;
}

.tag-active {
    border: 1px solid rgb(200, 180, 241);
    color: #4C3D6B;
    background: rgb(234, 229, 245);
}

.tag-link:hover {
    color: #4C3D6B;
    border: 1px solid #4C3D6B;
}

.tag-link:last-of-type {
    margin-right: 0;
}

#index-articles-container {
    flex-basis: 936px;
    max-width: 96%;
    margin: auto;
    margin-top: 48px;
}

.article-preview-container {
    display: flex;
    flex-flow: row no-wrap;
}

.article-preview-link {
    display: block;
    padding: 12px 0;
    margin-top: 12px;
    margin-bottom: 12px;
}

.article-preview-link:hover {
    background: #f2f2f2;
}

.article-preview-content {
    margin-left: 18px;
    align-self: center;
    flex-basis: 66%;
}

.article-preview-image {
    flex-basis: 34%;
}

.article-preview-title, .article-preview-summary {
    margin: 0;
}

.article-preview-summary {
    margin-top: 6px;
}

.main-button {
    padding: 0;
    border: none;
    border-radius: 5px;
    display: block;
    margin-top: 36px;
}

.main-button a {
    padding: 12px 18px;
    background: #6e599d;
    border: none;
    color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.1s ease-in;
}

.main-button-icon {
    height: 16px;
    width: auto;
    margin-left: 12px;
    transition: margin-left 0.1s ease-in;
}

.main-button a:hover .main-button-icon .st0 {
    fill: #fff;
    transition: fill 0.1s ease-in;
}

.main-button a:hover .main-button-icon {
    margin-left: 16px;
}

.main-button a:hover {
    background: #4C3D6B;
}

.main-button-text {
    font-size: 18px;
    margin-top: 6px;
}

#secondary-bio-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: top;
    flex-basis: 936px;
    max-width: 96%;
    margin: auto;
    margin-top: 150px;
}

#secondary-bio-message {
    flex-basis: 55%;
}

#secondary-bio-message p:first-of-type {
    margin-top: 0;
}

footer {
    flex-basis: 936px;
    max-width: 96%;
    margin: auto;
    margin-top: 150px;
}

footer h4 {
    text-align: center;
}

footer p {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5em;
    text-align: center;
}

.social-list {
    list-style-type: none;
    margin: auto;
    text-align: center;
    font-size: 20px;
}

.social-list li {
    display: inline-block;
    margin: 0 12px;
}

.social-list a {
    display: inline-block;
    position: relative;
}

.social-list a:after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #222;
    background: linear-gradient(90deg, #ffe8d9, #ffb9d8, #c8f4dc, #96e2eb, #b39bea);
    bottom: 0;
}

.one-line {
    display: inline-block;
}

/* Home page media queries */

@media (max-width: 930px) {
    #profile-picture {
        height: 180px;
        width: 180px;
    }

    #profile-picture-container {
        flex-basis: 32%;
    }

    #secondary-bio-message {
        flex-basis: 58%;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 21px;
    }

    footer {
        margin-top: 100px;
    }
}

@media (max-width: 700px) {

    header {
        flex-flow: column;
    }

    header, footer, #index-hero, #index-articles-container, #secondary-bio-section {
        flex-basis: 80%;
    }

    #index-articles-container {
        max-width: 80%;
    }

    #secondary-bio-message {
        flex-basis: 100%;
        margin: auto;
        order: 2;
    }

    #profile-bg {
        transform: rotate(-90deg);
        top: -50px;
        right: -90px;
        height: 320px;
    }

    #navigation {
        justify-content: center;
        margin-top: 24px;
    }

    #logo-container {
        text-align: center;
    }

    .nav-link {
        margin-left: 18px;
        margin-right: 18px;
    }

    .nav-link:after {
        display: none;
    }

    #index-hero {
        margin-top: 60px;
        margin-bottom: 36px;
        flex-flow: row wrap;
    }

    #profile-picture-container {
        margin: auto;
        order: 1;
        margin-bottom: 36px;
    }

    #profile-picture {
        top: 36px;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }

    /* .article-preview-link {
        margin-bottom: 48px;
    } */

    .article-preview-container {
        flex-flow: row wrap;
    }

    .article-preview-content {
        flex-basis: 100%;
        margin-left: 0;
        margin-top: 18px;
    }

    .article-preview-image {
        flex-basis: 100%;
    }

    .main-button {
        margin: auto;
    }

    .footer-email {
        font-size: 20px;
    }

    .social-list li {
        margin: 12px 8px;
    }

    .social-list a {
        padding: 6px;
    }

    .social-list a:after {
        bottom: 6px;
    }
}

@media(max-width: 500px) {
    header, footer, #index-hero, #index-articles-container, #secondary-bio-section {
        flex-basis: 96%;
    }

    #index-articles-container {
        max-width: 96%;
    }

    #profile-bg {
        top: -50px;
        right: -50px;
    }

    .article-preview-image {
        display: none;
    }

    .nav-link {
        margin: auto;
        letter-spacing: 0;
    }

    footer {
        margin-top: 48px;
    }

    .article-preview-link:last-of-type {
        margin-bottom: 0;
    }

    .main-button {
        margin-top: 18px;
    }
}

/* work page styles */

.work-tag-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 936px;
    max-width: 100%;
    margin: auto;
    justify-content: space-between;
}

.grid-item-container {
    flex-basis: 462px;
    height: 286px;
    overflow: hidden;
}

.grid-item-container {
    background: #e0e0e0;
    margin-bottom: 12px;
    position: relative;
}

.grid-summary-container {
    position: absolute;
    width: 100%;
    background: rgba(20,20,20,0.6);
    color: #fff;
    padding: 12px;
    height: auto;
    bottom: 0;
    box-sizing: border-box;
}

.grid-link:hover .grid-summary-container {
    transform: none;
}

.grid-summary {
    display: none;
}

.grid-title {
    margin-bottom: 4px;
    margin: 6px 0;
}

#work .grid-summary-container {
    height: 100%;
    bottom: -220px;
    transition: all 0.2s ease-in-out;
}

.grid-link {
    display: block;
    height: 100%;
}

#work .grid-summary {
    display: block;
}

#work .grid-link:hover .grid-summary-container {
    transform: translateY(-180px);
}

#work .grid-title {
    bottom: 0;
    margin: 6px 0 12px 0;
}

@media(max-width: 900px) {
    #work .grid-summary-container {
        height: auto;
        bottom: 0;
    }

    #work .grid-link:hover .grid-summary-container {
        transform: none;
    }

    #work .grid-summary {
        display: none;
    }

    #work .grid-title {
        margin-bottom: 4px;
    }
}

#work-button-container {
    display: block;
}

@media(max-width: 1000px) {
    .grid-item-container {
        flex-basis: 49%;
    }

    .work-4-column-container {
        flex-basis: 32%;
    }
}

@media(max-width:700px){
    .grid-item-container {
        flex-basis: 100%;
    }

    .work-4-column-container {
        flex-basis: 49%;
    }

    #infographic-1 {
        order: 4;
    }

    #work-intro-container {
        margin-bottom: 12px;
        margin-top: 60px;
    }
}

@media(max-width:500px){
    .grid-item-container {
        flex-basis: 100%;
    }

    .work-4-column-container {
        flex-basis: 100%;
    }
}


/* Contact page styles */

#contact-content-container {
    max-width: 620px;
}

.mail-link {
    font-weight: 700;
}

.mail-link:hover {
    text-decoration: underline;
}

#contact-content-container .social-list {
    text-align: left;
    font-size: 24px;
}

#contact-content-container .social-list li:first-child {
    margin-left: 0;
}

@media(max-width:700px){

    #contact-content-container .social-list li:first-child {
        margin-left: 12px;
    }
}


/* articles list page styles */

#articles-list-title {
    font-size: 42px;
    font-weight: 700;
    text-align: left;
    line-height: 1.5em;
    flex-basis: 100%;
}

#articles-list-intro-container {
    flex-basis: 936px;
    max-width: 96%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 68px;
    display: flex;
    flex-wrap: wrap;
}

#articles-list-container {
    flex-basis: 936px;
    max-width: 96%;
    margin: auto;
    /* display: flex;
    flex-wrap: wrap; */
}

#articles-list-container:first-child {
    margin-top: 0;
}

@media(max-width:700px){

    #articles-list-intro-container {
        margin-bottom: 12px;
        margin-top: 60px;
    }
}

/* Individual post page styles — i.e. articles and projects pages */

.page-full-width-container {
    flex-basis: 100%;
    margin: auto;
    margin-top: 120px;
    display: flex;
    flex-flow: row wrap;
    color: #333;
}

.post-content-container {
    flex-basis: 720px;
    max-width: 96%;
    margin: auto;
    color: #333;
}

.date {
    font-size: 15px;
    color: #555;
}

.post-content-container .date {
    margin: -1.2em 0 0 0;
}

.post-featured-image {
    max-width: 100%;
    margin-top: 48px;
    margin-bottom: 36px;
}

article img {
    width: auto;
    display: block;
    max-width: 100%;
    margin: 1.5em auto;
}

article ul, article ol {
    margin-left: 12px;
}

article li {
    padding-left: 12px;
    line-height: 1.5em;
    margin: 0.8em 0;
    font-size: 18px;
}

article a {
    color: #203997;
}

article a:hover {
    text-decoration: underline;
    color: #1f1e60;
}

article img+em {
    color: #555;
    font-size: 15px;
    display: block;
    text-align: center;
    margin-bottom: 2em;
    line-height: 1.5em;
    font-style: normal;
    margin-top: -1em;
}

article img+em a {
    color: #555;
    font-size: 15px;
    text-decoration: underline;
}

article iframe {
    margin: 2em auto;
    display: block;
}

/* Maybe you want to remove the .quote (but not blockquote!)... */
blockquote{
    margin: 24px 36px;
}

blockquote p {
    font-style: italic;
    font-size: 21px;
    color: #555;
    font-weight: 300;
}

@media(max-width: 930px) {
    .post-content-container .date {
        margin: -0.5em 0 0 0;
    }
}

@media(max-width: 500px) {
    blockquote{
        margin: 24px 12px;
    }

    blockquote p {
        font-size: 18px;
    }
}

/* Single project page styles */

.back-button-container {
    flex-basis: 100%;
    margin: auto;
    margin-top: 72px;
}

.back-button-container .main-button {
    margin: auto;
}

.back-button-container .main-button-icon {
    margin: 0 12px 0 0;
    transform: rotate(180deg);
}

.back-button-container .main-button a:hover .main-button-icon {
    margin: 0 16px 0 0;
}

#error-page{
    background: url('../images/bg-404.png') no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
    width: auto;
    overflow-x: hidden;
    padding-bottom: 2em;
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;
}

#error-message a {
    font-weight: 700;
    text-decoration: underline;
}

#error-message {
    margin-top: 0;
    display: block;
    margin-bottom: 0;
}

.poem {
    color: #4C3D6B;
    font-size: 0.9em;
    margin: 0.2em 0;
}

.poem-container {
    margin-top: 2em;
}

@media(max-width: 500px) {
    #error-page {
        background: url('../images/bg-404-mobile.png') no-repeat;
    }
}