{{ partial "header.html" . }}

<!-- {{ if not .IsHome }} -->
<!-- <h1>{{ .Title }}</h1> -->
<!-- {{ end }} -->
    <div id="index-hero">
        <div id="hero-message">
            <h1>
                <span id="hero-highlight">Hello there,</span>
                <br>
                <span id="hero-highlight">I'm Patrícia Estevão.</span>
            </h1>
            <h2>I’m a <span class="one-line">UX Designer</span> focused on user security and privacy.</h2>
        </div>
    </div>
    <div id="index-articles-container">
        <h3>Recent Articles</h3>
        {{ partial "tag-container.html" . }}

        {{ $articles := where .Site.RegularPages "Section" "articles" }}
        {{ range first 3 $articles }}
        <a href="{{ .URL }}" class="article-preview-link">
            <div class="article-preview-container">
              <div class="preview-image-container">
              <img src="{{ .Params.image }}" alt="" class="article-preview-image">
              </div>
                <div class="article-preview-content">
                  <h4 class="article-preview-title">{{ .Title }}</h4>
                  <p class="date">{{ .Date.Format "02 Jan, 2006" }}</p>
                    <p class="article-preview-summary">{{ .Params.Intro }}</p>
                </div>
            </div>
        </a>
            <a href="{{ .URL }}" class="article-preview-mobile-cue-link">Read article</a>
        {{ end }}
        <button class="main-button">
            <a href="/articles/">
                <span class="main-button-text">See all articles</span>
                <img class="main-button-icon" src="images/arrow-right.png" alt=">">
            </a>
        </button>
    </div>
    <div id="secondary-bio-section">
        <div id="secondary-bio-message">
            <h3>About me</h3>
            <p>
                I'm a Designer, which means, essentially, being a communicator.
            </p>
            <p>
                But as we all are quite unique somehow, I also have my personal Design focus and way of thinking.
            </p>
            <p>
                I actively look for projects where I can apply my Designer perspective to improve people’s security and privacy. This includes, but is not limited to Bitcoin and cryptocurrencies.
            </p>
        </div>
        <div id="profile-picture-container">
            <img id="profile-picture" src="images/profile.jpg" alt="">
            <img id="profile-bg" src="images/dots-triangular.svg" alt="">
        </div>
    </div>

{{ partial "footer.html" . }}
