{{ partial "header.html" . }}

{{ if eq .Layout "contact" }}
        <div class="page-top-content">
            <h1>{{ .Title }}</h1>
            <div id="contact-content-container">

            	{{ .Content | replaceRE "<p>" "<p class=\"large-text\">" | safeHTML }}

                <p>PGP: {{ .Param "pgp_id" }}</p>
                <p class="large-text">Otherwise, follow me around the web:</p>
                <ul class="contact-social-list">
                    {{ partial "social-links.html" . }}
                </ul>
            </div>
        </div>

</body>
</html>
{{ end }}
