    <footer>
      <!-- TODO: use config.toml for the e-mail and links -->
        <h4 class="footer-title">Let's Talk</h4>
        <p class="footer-email">hello@patestevao.com</p>
        <ul class="footer-social-list">
            <li class="footer-social-items">
                <a href="" class="footer-social-link">Twitter</a>
            </li>
            <li class="footer-social-items">
                    <a href="" class="footer-social-link">Github</a>
            </li>
            <li class="footer-social-items">
                    <a href="" class="footer-social-link">Dribbble</a>
            </li>
            <span class="one-line">
                <li class="footer-social-items">
                    <a href="" class="footer-social-link">Behance</a>
                </li>
                <li class="footer-social-items">
                        <a href="" class="footer-social-link">Linkedin</a>
                </li>
            </span>
        </ul>
    </footer>

</body>
</html>
