<div class="top-section{{ if .IsHome }} index-top-section-bg{{ end }}">
        <header>
            <div id="logo-container">
                <a href="/" id="home-link">
                    <img id="logo-image" src="{{ "/images/logo.svg" | relURL }}" alt="">
                </a>
            </div>
            <nav id="navigation">
                {{ range .Site.Menus.main }}
                {{ $name := humanize .Name }}
                <a href="{{ .URL }}" class="nav-link">{{ $name }}</a>
                {{ end }}
            </nav>
        </header>
        {{ if .IsHome }}
        <div id="hero-container">
            <div id="hero-message">
                <h1 id="hero-title">Hello there, <br>   I'm Patrícia Estevão.</h1>
                <h2 id="hero-subtitle">I’m a privacy-focused <span class="one-line">UX Designer.</span></h2>
            </div>
        </div>
        {{ end }}
    </div>
