<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Patrícia Estevão">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/css/normalize.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="icon" href="{{ "/images/favicon.ico" | relURL }}">
    <!-- social and description tags -->
    <meta name="twitter:card" content="summary">
    <meta name="keywords" content="UX, Design, Usability, Bitcoin, Privacy">
    <meta property="og:type" content="website">
    {{ if isset .Params "socialimg" }}
    <meta property="og:image" content="{{ .Params.socialimg }}">
    <meta name="twitter:image" content="{{ .Params.socialimg }}">
    {{ else }}
    <meta property="og:image" content="{{ "/images/generic-social-image.png" | relURL }}">
    <meta name="twitter:image" content="{{ "/images/generic-social-image.png" | relURL }}">
    {{ end }}
    <meta property="og:title" content="{{ .Title }}">
    <meta name="twitter:title" content="{{ .Title }}">
    <meta name="description" content="{{ .Params.Intro }}">
    <meta property="og:description" content="{{ .Params.Intro }}">
    <meta name="twitter:description" content="{{ .Params.Intro }}">
</head>
<body>
  {{ partial "head_custom.html" . }}
