{{ partial "header.html" . }}

<div class="page-intro-content" id="error-message">
    <h1>Error 404, page not found.</h1>

    <p>The page you are looking for isn't here.
        <br>
        You can come back to the <a href="/">home page</a>, if you wish.
        <br>
        Or you can go another way, as long as you know where you want to go ;)</p>
    <div class="poem-container">
        <p class="poem"><em>
            “Would you tell me, please, which way I ought to go from here?"
        </em></p>
        <p class="poem"><em>
            "That depends a good deal on where you want to get to."
        </em></p>
        <p class="poem"><em>
            "I don't much care where –"
        </em></p>
        <p class="poem"><em>
            "Then it doesn't matter which way you go.”
        </em></p>
        <p class="poem"><em>
            - Lewis Carroll, Alice in Wonderland
        </em></p>
    </div>
</div>

{{ partial "footer.html" . }}
