{{ partial "header.html" . }}

    <div id="articles-list-container">
      {{/* {{ partial "tag-container.html" . }} */}}
        {{ range where .RegularPages "Section" "articles" }}
        <a href="{{ .URL }}" class="article-preview-link">
            <div class="article-preview-container">
              <div class="preview-image-container">
                <img src="{{ .Params.image }}" alt="" class="article-preview-image">
              </div>
                <div class="article-preview-content">
                  <h4 class="article-preview-title">{{ .Title }}</h4>
                    <p class="date">{{ .Date.Format "02 Jan, 2006" }}</p>
                    <p class="article-preview-summary">{{ .Params.Intro }}</p>
                </div>
            </div>
        </a>
        {{ end }}
    </div>
    {{ partial "footer.html" . }}
